<!DOCTYPE html>
<html lang="en" ng-app="leChef">
    
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Le Chef is a recipe sharing platform for people who love to cook and share their own recipes" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="google-site-verification" content="vPax4dl48baMq_-DBfCVVevUnCKvEhbbAt2yVeEoFGs" />

        <title>Le Chef a toujours raison</title>
        
        <!-- / Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-24904424-5', 'auto');
          ga('send', 'pageview');
        </script>
        <!-- / Google Analytics -->

        <!-- To deploy use this css -->
            <!--<link rel="stylesheet" href="dist/screen.css"></link>
            <link rel="stylesheet" href="/angular-spinkit/build/angular-spinkit.min.css">-->
        <!-- To deploy use this css -->

        <!-- To develop use this css -->
            <link rel="stylesheet" href="tmp/screen.css">
            <link rel="stylesheet" href="bower_components/angular-spinkit/build/angular-spinkit.min.css">
        <!-- To develop use this css -->
    </head>

    <body ng-controller="RecipesController">
        <header>
            <div ng-controller="AuthController" id="login">
                <div ng-show="isLoginOpen">
                    <span ng-href="#/auth" ng-show="authData">
                        Hello, {{authData.password.email}}
                    </span>

                    <span>
                        <a ng-href="#/auth" ng-hide="authData">
                            Login
                        </a>
                    </span>

                    <span>
                        <a ng-show="authData" ng-click="auth.$unauth()">
                            Logout
                        </a>
                    </span>
                </div>
                <div ng-click="isLoginOpen = !isLoginOpen" tabindex="0" aria-label="Link to login page only for page administrator">
                    <span ng-hide="isLoginOpen" class="icon-face"></span>
                    <span ng-show="isLoginOpen" class="icon-cross"></span>
                </div>
            </div>
            <h1>
                <a ng-href="#/" aria-label="Link to main page">
                    Le Chef
                    <img src="/images/lechef-logo-150px.png">
                </a>
            </h1>
            <h2 ng-show="currentPath.hash === '#/'">
                a toujours raison
            </h2>
            <ul class="follow-us" ng-show="currentPath.hash === '#/'">
                <li>
                    <a class="icon-pinterest-with-circle" href="http://www.pinterest.com/norarusterholz" target="_blank" aria-label="Follow us on pinterest"></a>
                </li>
                <li>
                    <a class="icon-instagram-with-circle" href="https://instagram.com/mimi.k.k/" target="_blank" aria-label="Follow us on instagram"></a>
                </li>
                <li>
                    <a class="icon-twitter-with-circle" href="https://twitter.com/norarusterholz" target="_blank" aria-label="Follow us on twister"></a>
                </li>
                <li>
                    <a class="icon-vimeo-with-circle" href="https://vimeo.com/greenkitchenstories" target="_blank" aria-label="Follow us on vimeo"></a>
                </li>
            </ul>

            <input ng-model="search.$" id="search" results="5" type="search" placeholder="Find recipe" ng-show="currentPath.hash === '#/'" aria-label="Type text to find recipes">
        </header>
        <main ng-view></main>

        <!-- angular -->
            <script src="bower_components/angular/angular.min.js"></script>
            <script src="bower_components/angular-route/angular-route.min.js"></script>
            <script src="bower_components/angular-animate/angular-animate.min.js"></script>
            <script src="bower_components/angular-touch/angular-touch.min.js"></script>
            <script src="bower_components/angularjs-socialshare/dist/angular-socialshare.min.js"></script>
            <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
            <script src="bower_components/angular-ios9-uiwebview-patch/angular-ios9-uiwebview-patch.js"></script>
            <script src="bower_components/angular-aria/angular-aria.min.js"></script>
            <script src="bower_components/angular-spinkit/build/angular-spinkit.min.js"></script>

            <!-- ckeditor -->
            <script src="bower_components/ckeditor/ckeditor.js"></script>
            <script src="bower_components/angular-ckeditor/angular-ckeditor.min.js"></script>

            <!-- ckeditor -->

            <!-- / Test -->
            <!-- <script src="bower_components/angular-mocks/angular-mocks.js"></script> -->
            <!-- / Test -->
        <!-- angular -->

        <!-- firebase -->
            <script src="bower_components/firebase/firebase.js"></script>
            <script src="bower_components/angularfire/dist/angularfire.min.js"></script>
            <script src="bower_components/ng-flow/dist/ng-flow-standalone.min.js"></script>
        <!-- firebase -->
        
        <!-- To deploy use this js -->
            <!-- <script src="dist/screen.js"></script> -->
        <!-- To deploy use this js -->

        <!-- To develope use this js -->
            <script src="js/app.js"></script>
            <script src="js/routes.js"></script>

            <script src="js/services/firebase-factory.js"></script>
            <script src="js/services/auth-factory.js"></script>
            <script src="js/services/set-focus-factory.js"></script>

            <script src="js/controllers/recipes-controller.js"></script>
            <script src="js/controllers/recipe-controller.js"></script>
            <script src="js/controllers/editor-controller.js"></script>
            <script src="js/controllers/auth-controller.js"></script>
            
            <script src="js/directives/slider-directive.js"></script>
            <script src="js/directives/set-focus-directive.js"></script>
        <!-- To develope use this js -->
    </body>
</html>