@import "mixins"

.auth
	margin: 13px auto
	width: 327px
	padding-bottom: 13px
	+flex
	+flex-direction-column

	*
		width: 100%

	h3
		font-size: 36px

	h4
		margin: 13px 0
		font-size: 26px
		line-height: 30px

	p
		margin: 13px 0
		font-family: "Josefin Regular"
		font-size: 19px
		line-height: 26px