@import "mixins"

.editor
	width: 80%

	.recipe-form
		.drop
			border: 1px dashed #D90048
			height: 109px
			text-align: center
			padding: 42px
			color: #BFBFBF

		.preview
			+flex
			+flex-direction-row
			+flex-wrap

			width: 100%
			margin: 7px 0

			li
				margin-right: 13px
				
				&:last-child
					margin: 0
				
				p
					.preview-title
						font-size: 13px

					.remove-field
						vertical-align: middle

				img
					height: 109px

		input
			margin-bottom: 7px
			
			&.ng-invalid.ng-dirty.ng-invalid-required
				border-color: validation-error
				width: 100%

			&.ng-invalid-required
				border-color: #D90048

			&.ng-valid.ng-dirty
				border-color: #C8DBBF

			&.title
				width: 100%

			&.lead
				width: 100%

			&.instructions
				width: 100%
				height: 218px

		.cooking-time
			input
				margin-right: 7px

		.add-field
			color: #5D9E9B
			padding: 2px 7px

		.remove-field
			color: #D90048
			padding: 7px

		.validation-error
			color: #D90048