.editor
	.recipeForm
		.preview
			width: 100px
			height: auto

		.text
			vertical-align: top

		input.ng-invalid.ng-dirty.ng-invalid-required
			border-color: #D90048

		input.ng-invalid-required
			border-color: #D90048

		input.ng-valid.ng-dirty
			border-color: #C8DBBF
	*
		font-size: 30px