@font-face 
  font-family: "Sharing Icons"
  src: url("../fonts/sharing-icons/sharing-icons.eot")
  src: url("../fonts/sharing-icons/sharing-icons.eot?#iefix") format("embedded-opentype"), url("../fonts/sharing-icons/sharing-icons.woff") format("woff"), url("../fonts/sharing-icons/sharing-icons.ttf") format("truetype"), url("../fonts/sharing-icons/sharing-icons.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "Amatic SC Regular"
  src: url("../fonts/amatic-sc/amatic-sc-regular.eot")
  src: url("../fonts/amatic-sc/amatic-sc-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/amatic-sc/amatic-sc-regular.woff") format("woff"), url("../fonts/amatic-sc/amatic-sc-regular.ttf") format("truetype"), url("../fonts/amatic-sc/amatic-sc-regular.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "Amatic SC Bold"
  src: url("../fonts/amatic-sc/amatic-sc-bold.eot")
  src: url("../fonts/amatic-sc/amatic-sc-bold.eot?#iefix") format("embedded-opentype"), url("../fonts/amatic-sc/amatic-sc-bold.woff") format("woff"), url("../fonts/amatic-sc/amatic-sc-bold.ttf") format("truetype"), url("../fonts/amatic-sc/amatic-sc-bold.svg") format("svg")
  font-weight: normal
  font-style: bold

@font-face 
  font-family: "Josefin Light"
  src: url("../fonts/josefin-sans/JosefinSans-Light.eot")
  src: url("../fonts/josefin-sans/JosefinSans-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/josefin-sans/JosefinSans-Light.woff") format("woff"), url("../fonts/josefin-sans/JosefinSans-Light.ttf") format("truetype"), url("../fonts/josefin-sans/JosefinSans-Light.svg") format("svg")
  font-weight: normal
  font-style: normal

@font-face 
  font-family: "Josefin Semi Bold"
  src: url("../fonts/josefin-sans/JosefinSans-SemiBold.eot")
  src: url("../fonts/josefin-sans/JosefinSans-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/josefin-sans/JosefinSans-SemiBold.woff") format("woff"), url("../fonts/josefin-sans/JosefinSans-SemiBold.ttf") format("truetype"), url("../fonts/josefin-sans/JosefinSans-SemiBold.svg") format("svg")
  font-weight: normal
  font-style: bold

[class^="icon-"], [class*=" icon-"]
	font-family: "Sharing Icons"
	speak: none
	font-style: normal
	font-weight: normal
	font-variant: normal
	text-transform: none
	line-height: 1

*
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale


.icon-facebook-with-circle:before 
	content: "\31"

.icon-facebook:before 
	content: "\32"

.icon-flickr-with-circle:before 
	content: "\33"

.icon-flickr:before 
	content: "\34"

.icon-google-with-circle:before 
	content: "\35"

.icon-google:before 
	content: "\36"

.icon-instagram-with-circle:before 
	content: "\37"

.icon-instagram:before 
	content: "\38"

.icon-pinterest-with-circle:before 
	content: "\39"

.icon-pinterest:before 
	content: "\2b"

.icon-twitter-with-circle:before 
	content: "\22"

.icon-twitter:before 
	content: "\2a"

.icon-vimeo-with-circle:before 
	content: "\e7"

.icon-vimeo:before 
	content: "\25"

.icon-youtube-with-circle:before 
	content: "\26"

.icon-youtube:before 
	content: "\2f"