@import "mixins"

header
	+flex
	+flex-direction-column

	h1, h2, h3
		text-align: center

	h1
		font-size: 54px

		img
			width: 50px

	h2
		font-size: 30px
		margin-bottom: 26px

	h3
		font-size: 36px

	.follow-us
		+flex
		+flex-direction-row
		+justify-content

		font-size: 32px

		a
			padding: 4px

	#search
		+appearance
		
		width: 462px
		height: 40px

		font-family: "Amatic SC Bold"
		font-size: 30px
		line-height: 40px

		margin: 13px auto

	#login
		+flex
		+justify-content-end

		> div
			padding: 14px
			background-color: #fff

			&.ng-show 
				-webkit-transition: ease-in/* Safari */
			    transition: ease-in

			&.ng-hide
				-webkit-transition: ease-out/* Safari */
			    transition: ease-out

			span:not([class^="icon-"])
				font-family: "Amatic SC Bold"
				font-size: 18px
				line-height: 18px

				&:first-of-type
					padding-right: 4px

			span[class^="icon-"]
				font-size: 18px
				color: #D90048

				&:hover
					color: #5D9E9B

			a
				color: #D90048

				&:hover
					color: #5D9E9B