@import "mixins"

header
	+flex
	+flex-direction-column

	h1, h2, h3
		text-align: center

	h1
		font-family: "Amatic SC Bold"
		font-size: 54px

		img
			width: 50px
	h2
		font-size: 30px
		margin-bottom: 24px

	h3
		font-family: "Amatic SC Bold"
		font-size: 36px

	.follow-us
		+flex
		+flex-direction-row
		+justify-content

		font-size: 32px
		
		list-style-type: none

		a
			text-decoration: none
			color: black
			
			padding: 0.1em

			&:hover
				color: pink

	#search
		width: 952px
		height: 40px

		font-family: "Amatic SC Bold"
		font-size: 30px
		line-height: 40px

		-webkit-appearance: none
		appearance: none

		margin: 13px