@import "mixins"

header
	+flex
	+flex-direction-column

	h1, h2, h3
		text-align: center

	h1
		font-size: 54px

		img
			width: 50px

	h2
		font-size: 30px
		margin-bottom: 26px

	h3
		font-size: 36px

	.follow-us
		+flex
		+flex-direction-row
		+justify-content

		font-size: 32px

		a
			padding: 4px

	#search
		+appearance
		
		width: 462px
		height: 40px

		font-family: "Amatic SC Bold"
		font-size: 30px
		line-height: 40px

		margin: 13px auto

	#login
		a, p
			+flex
			+justify-content-end
			font-family: "Amatic SC Bold"
			font-size: 24px
			color: #393A3D
			padding: 7px

			&:hover
				color: #5D9E9B