@import "mixins"

@media only screen and (max-width: 768px)
	body
		width: 100%

		h1, h2, h3, h4
			font-weight: normal

		header
			#login
				span[class^="icon-"]
					&:hover
						color: #D90048
			h2
				margin-bottom: 13px
				
			#search
				width: 254px

		main
			#recipes-overview
				.recipes
					.recipe
						width: 254px
						height: 254px

						.caption
							opacity: 1

							h3
								font-size: 34px
								line-height: 32px
								margin-bottom: 7px

							p
								line-height: 19px

						.overlay
							position: absolute

							top: 50%
							
							width: 100%
							height: 127px

			.recipe-description
				.slider
					height: 302px

				.recipe-form
					input
						width: 100%
					
					.image-column
						.drop
							padding: 30px

				.content
					width: 100%
					padding: 0 26px

					.head-column
						ul
							li
								flex: 1 100%

					.side-column
						flex: 1 100%
						border-bottom: 1px dashed #5D9E9B

						ul
							&.ingredients
								+flex-direction-column

					.main-column
						flex: 1 100%

						ul
							&.cooking-time
								+flex-direction-column

								.time-description
									position: absolute
									top: 23px
									left: 180px

								.timeline
									left: 83px

									&:last-child
										display: none

			.tooltips
				span
					display: none