@import "mixins"

@media only screen and (max-device-width: 768px)
	body
		width: 100%

		header
			+align-items-center

			#search
				width: 254px

		main
			#recipes-overview
				.recipes
					.recipe
						width: 254px
						height: 254px

						.caption
							opacity: 1
							+transform-translateY-142px
							+justify-content-initial
						.overlay
							position: absolute
							
							width: 100%
							height: 100%
			
			.recipe-description
				.content
					.side-column
						flex: 1 100%