@media only screen and (max-device-width: 667px)
	body
		width: 100%

		header
			align-items: center
			-webkit-align-items: center
			-moz-align-items: center

			#search
				width: 254px

		.recipes
			flex-direction: column
			-webkit-flex-direction: column
			-moz-flex-direction: column

			align-items: center
			-webkit-align-items: center
			-moz-align-items: center

			.recipe
				width: 254px
				height: 254px