@mixin flex
	display: flex
	display: -webkit-flex
	display: -moz-flex

@mixin box
	display: -webkit-box
	display: -moz-box
	display: -ms-flexbox

@mixin flex-wrap
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap

@mixin row-wrap
	flex-flow: row wrap
	-webkit-flex-flow: row wrap
	-moz-flex-flow: row wrap

@mixin flex-direction-column
	flex-direction: column
	-webkit-flex-direction: column
	-moz-flex-direction: column

@mixin flex-direction-row
	flex-direction: row
	-webkit-flex-direction: row
	-moz-flex-direction: row

@mixin justify-content
	justify-content: center
	-webkit-justify-content: center
	-moz-justify-content: center

@mixin align-items-center
	align-items: center
	-webkit-align-items: center
	-moz-align-items: center

@mixin transform-translateY-80px
	transform: translateY(-80px)
	-webkit-transform: translateY(-80px)
	-moz-transform: translateY(-80px)

@mixin box-shadow
	-webkit-box-shadow: none
	-moz-box-shadow: none
	box-shadow: none

@mixin border-radius-50-percent
	-webkit-border-radius: 50%
	-moz-border-radius: 50%
	border-radius: 50%

@mixin transition-25-ms
	-webkit-transition: background-color 0.25s, border-color 0.25s
	-moz-transition: background-color 0.25s, border-color 0.25s
	transition: background-color 0.25s, border-color 0.25s