@mixin flex
	display: flex
	display: -webkit-flex
	display: -moz-flex

@mixin flex-wrap
	flex-wrap: wrap
	-webkit-flex-wrap: wrap
	-moz-flex-wrap: wrap

@mixin flex-direction-column
	flex-direction: column
	-webkit-flex-direction: column
	-moz-flex-direction: column

@mixin flex-direction-row
	flex-direction: row
	-webkit-flex-direction: row
	-moz-flex-direction: row

@mixin justify-content
	justify-content: center
	-webkit-justify-content: center
	-moz-justify-content: center

@mixin align-items-center
	align-items: center
	-webkit-align-items: center
	-moz-align-items: center

@mixin transform-translateY-80px
	transform: translateY(-80px)
	-webkit-transform: translateY(-80px)
	-moz-transform: translateY(-80px)