@import "mixins"

.recipe-description
	margin: 0 auto
	width: 80%

	+flex
	+flex-direction-row
	+flex-wrap
	+justify-content

	align-content: flex-start
    align-items: flex-start

	h4
		margin: 13px 0 4px

	.slider
		order: 1
		flex: 1 100%

	.headColumn
		order: 2
		flex: 1 100%
		margin-bottom: 13px

		.mySearch
			margin: 13px 0 13px

		h2
			span
				font-size: 20px

		.keywords
			+flex
			+flex-direction-row

			li
				padding-top: 13px
				padding-right: 4px

	.sideColumn
		order: 3
		flex: 1 30%

		.share-this-recipe
			+flex
			+flex-direction-row
			
			li
				font-size: 24px
				padding-right: 4px

				a
					color: #393A3D

					&:hover
						color: #5D9E9B

	.mainColumn
		order: 4
		flex: 1 70%

		.reviews
			blockquote
				margin-bottom: 13px

			.reviewForm
				.ng-invalid.ng-dirty
					border-color: #D90048

				.ng-valid.ng-dirty
					border-color: #C8DBBF

				select
					display: block

				textarea
					display: block
					width: 80%
					height: 48px

				input
					margin: 13px 0
					width: 40%

				button[type=submit]
					display: block