@import "mixins"

.recipes
	+flex
	+flex-direction-row
	+flex-wrap

	.recipe
		position: relative
		overflow: hidden
		list-style-type: none

		width: 218px
		height: 218px

		margin: 13px

		img
			width: 100%
			height: 100%

		.caption
			opacity: 0
			transition: all 0.15s ease-in-out

			text-align: center

			h2
				font-family: "Amatic SC Bold"
				font-size: 36px

		.overlay
			position: absolute
			
			width: 100%
			height: 100%
			
			background-color: rgba(255, 255, 255, 0.8)

		&:hover 
			cursor: pointer

			.caption
				+transform-translateY-80px
				opacity: 1