@import "resets"
@import "helpers"
@import "fonts"
@import "mixins"

body
	margin: 0 auto
	width: 978px
	font-size: 18px

	*
		font-family: "Amatic SC Regular"

	header
		+flex
		+flex-direction-column

		h1, h2, h3
			text-align: center

		h1
			font-family: "Amatic SC Bold"
			font-size: 54px

		h2
			font-size: 30px
			margin-bottom: 24px

		h3
			font-family: "Amatic SC Bold"
			font-size: 36px

		.follow-us
			+flex
			+flex-direction-row
			+justify-content

			font-size: 32px
			
			list-style-type: none

			a
				text-decoration: none
				color: black
				
				padding: 0.1em

				&:hover
					color: pink

		#search
			width: 952px
			height: 40px

			font-family: "Amatic SC Bold"
			font-size: 30px
			line-height: 40px

			-webkit-appearance: none
			appearance: none

			margin: 13px

	.recipes
		+flex
		+flex-direction-row
		+flex-wrap

		.recipe
			position: relative
			overflow: hidden
			list-style-type: none

			width: 218px
			height: 218px

			margin: 13px

			img
				width: 100%
				height: 100%

			.caption
				opacity: 0
				transition: all 0.15s ease-in-out

				text-align: center

				h2
					font-family: "Amatic SC Bold"
					font-size: 36px

			.overlay
				position: absolute
				
				width: 100%
				height: 100%
				
				background-color: rgba(255, 255, 255, 0.8)

			&:hover 
				cursor: pointer

				.caption
					+transform-translateY-80px
					opacity: 1

@import "media-queries"