<section class="auth">
	<h3>Login</h3>
	<div>
		<p>
			Please login to your Le Chef account in order to add, change or delete recipes.
		</p>
		<p>
			If you wish to get an author account, please apply via email to <a href="mailto:contact@noerdli.ch">contact@noerdli.ch</a> and tell us more about your cooking skills.
		</p>
		
		<form novalidate name="authForm">
			<h4>Email</h4>
			<input type="text" ng-model="email" name="email" aria-label="Enter email" required>
			<div ng-show="authForm.$submitted">
				<p class="validation-error" ng-show="authForm.email.$error.required">
				Please enter your email address.
				</p>
			</div>
			
			<h4>Password</h4>
			<input type="password" ng-model="password" aria-label="Enter password" required>
			<div ng-show="authForm.$submitted">
				<p class="validation-error" ng-show="authForm.email.$error.required">
				Please enter your password.
				</p>
			</div>

			<button ng-click="authForm.$valid && login()">Login</button>

			<p ng-if="message">
				<strong>Message: {{message}}</strong>
			</p>
			<p ng-if="error">
				<strong>
					Error: {{error}}
					<a ng-href="#/reset">Reset password.</a>
				</strong>
			</p>
		</form>
	</div>
 </section>