<section id="{{recipe.$id}}" class="recipe-description editor">
    <form class="recipe-form" name="recipeForm" novalidate>
        <section class="image-column">
            <div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-file-success="$file.msg = $message" flow-name="upload.flow">
                <input type="file" class="flow-button" flow-btn>
                <div class="drop" flow-drop>Drag and drop your images here</div>
                <ul class="preview">
                    <li ng-repeat="file in upload.flow.files track by $index">
                        <p>
                            <span class="preview-title">{{$index+1}} {{file.relativePath}}</span>
                            <span class="remove-field icon-circle-with-minus" ng-click="upload.flow.files.splice($index, 1)"></span>
                        </p>
                        <img flow-img="file">
                    </li>
                </ul>
            </div>
            <div>
                <h4>Images: </h4>
                <ul class="preview">
                    <li ng-repeat="slide in recipe.slides">
                        <p>
                            <span class="preview-title">{{$index+1}}</span>
                            <span class="remove-field icon-circle-with-minus" ng-click="recipe.slides.splice($index, 1)"></span>
                        </p>
                        <img ng-src="{{slide}}" ng-hide="recipe.slides.length < 0">
                    </li>
                </ul>
            </div>
        </section>

        <section class="content">
            <section class="head-column">
                <h4>Keywords: </h4>
                <ul class="keywords">
                    <li ng-repeat="keyword in recipe.keywords track by $index">
                        <input type="text" ng-model="recipe.keywords[$index]" name="recipeKeyword" ng-value="keyword" placeholder="Add a keyword" ng-attr-id="{{'last-keyword-'+$last}}" required>

                        <div ng-show="recipeForm.$submitted">
                            <span class="validation-error" ng-show="recipeForm.recipeKeyword.$error.required">Is it glutenfree? Or a Japanese recipe? Add some keywords to your recipe.</span>
                        </div>

                        <span class="remove-field icon-circle-with-minus" ng-click="remove('keywords', $index)"></span>
                    </li>

                    <span class="add-field icon-circle-with-plus" ng-click="add('keywords')" event-focus="click" event-focus-id="last-keyword-true"></span>  
                </ul>
            </section>

            <section class="side-column">
                <h4>Ingredients: </h4>
                <ul class="ingredients">
                    <li ng-repeat="ingredient in recipe.ingredients track by $index">
                        <input type="text" ng-model="recipe.ingredients[$index]" name="recipeIngredient" ng-value="ingredient" placeholder="Add an ingredient" ng-attr-id="{{'last-ingredient-'+$last}}" required>

                        <div ng-show="recipeForm.$submitted">
                            <span class="validation-error" ng-show="recipeForm.recipeKeyword.$error.required">Do we need some eggs, milk or salt?</span>
                        </div>

                        <span class="remove-field icon-circle-with-minus" ng-click="remove('ingredients', $index)" ></span>
                    </li>
                    <span class="add-field icon-circle-with-plus" ng-click="add('ingredients')" event-focus="click" event-focus-id="last-ingredient-true"></span>
                </ul>
            </section>

            <section class="main-column">
                    <input class="title" type="text" ng-model="recipe.title" name="recipeTitle" ng-value="recipe.title" placeholder="Give your recipe a title" required>
                   
                    <div ng-show="recipeForm.$submitted || recipeForm.recipePreptime.$touched">
                        <span class="validation-error" ng-show="recipeForm.recipePreptime.$error.required">Tell us the title of your recipe.</span>
                    </div>

                    <input class="lead "type="text" ng-model="recipe.lead" name="recipeLead" ng-value="recipe.lead" placeholder="What is special about your recipe? Write a lead." required>

                    <div ng-show="recipeForm.$submitted || recipeForm.recipePreptime.$touched">
                        <span class="validation-error" ng-show="recipeForm.recipePreptime.$error.required">Tell us whats special about your recipe.
                    </div>
               
                <h4>Time until ready</h4>
                <ul class="cooking-time">
                    <li>
                        <span>Preperation: </span>
                        <input type="text" ng-model="recipe.preptime" name="recipePreptime" ng-value="recipe.preptime" placeholder="Add preperation Time" required>
                        
                        <div ng-show="recipeForm.$submitted || recipeForm.recipePreptime.$touched">
                            <span class="validation-error" ng-show="recipeForm.recipePreptime.$error.required">How long does it take?</span>
                        </div>

                    </li>
                    <li>
                        <span>Cooking: </span>
                        <input type="text" ng-model="recipe.cookingtime" name="recipeCookingtime" ng-value="recipe.cookingtime" placeholder="Add cooking Time" required>
                        
                        <div ng-show="recipeForm.$submitted || recipeForm.recipeCookingtime.$touched">
                            <span class="validation-error" ng-show="recipeForm.recipeCookingtime.$error.required">How long does it take?</span>
                        </div>

                    </li>
                    <li>
                        <span>Total: </span>
                        <input type="text" ng-model="recipe.totaltime" name="recipeTotaltime" ng-value="recipe.totaltime" placeholder="Add total Time" required>
                        
                        <div ng-show="recipeForm.$submitted || recipeForm.recipeTotaltime.$touched">
                            <span class="validation-error" ng-show="recipeForm.recipeTotaltime.$error.required">How long does it take?</span>
                        </div>

                    </li>
                </ul>

                <div class="instructions">
                    <h4>Instructions</h4>
                    <textarea ckeditor="options" class="instructions" type="text" ng-model="recipe.instructions" name="recipeInstructions" ng-value="recipe.instructions" placeholder="Write an instruction" required ready="onReady()"></textarea>
                    
                    <div ng-show="recipeForm.$submitted || recipeForm.recipeInstructions.$touched">
                        <span class="validation-error" ng-show="recipeForm.recipeInstructions.$error.required">Write an instruction to your recipe. Otherwise we don't know how to cook it!</span>
                    </div>

                </div>
            </section>
        </section>

        <section class="buttons">
            <button ng-click="cancelEditRecipe()">Cancel</button>
            <button ng-click="recipeForm.$valid && addRecipe()" ng-hide="recipe.$id" class="glow">Save Recipe</button>
            <button ng-click="deleteRecipe()"ng-show="recipe.$id">Delete Recipe</button>
            <button ng-click="recipeForm.$valid && editRecipe()" ng-show="recipe.$id" class="glow">Update Recipe</button>
        </section>
    </form>
</section>