<main id="{{$id}}">
    <h1>
        Write your recipe!
    </h1>

    <ul>
        <li ng-repeat="recipe in recipes">
            {{recipe.title}}
            {{recipe.lead}}
            {{recipe.author}}
            {{recipe.instructions}}
        </li>
    </ul>

    <form novalidate class="recipe-form" name="form" ng-submit="addRecipe()">
        <label for="title">Title</label>
        <input type="text" ng-model="title" name="recipeTitle" ng-value="recipe.title" required="">
        <div ng-show="form.$submitted || form.recipeTitle.$touched">
             <div ng-show="form.recipeTitle.$error.required">What are you going to cook?</div>
        </div>

        <label for="lead">lead</label>
        <input type="text" ng-model="lead" name="recipeLead" ng-value="recipe.lead" required="">
        <div ng-show="form.$submitted || form.recipeLead.$touched">
             <div ng-show="form.recipeTitle.$error.required">What are you going to cook?</div>
        </div>
        
        <!-- <label for="keywords">Keywords</label>
        <input type="text" type="text" ng-model="keywords" name="recipeKeywords" required="">
        <div ng-show="form.$submitted || form.recipeKeywords.$touched">
             <div ng-show="form.recipeKeywords.$error.required">Add the keywords</div>
        </div>

        <label for="ingredients">Ingredients</label>
        <input type="text" ng-model="ingredients" name="recipeIngredients" required="">
        <div ng-show="form.$submitted || form.recipeIngredients.$touched">
             <div ng-show="form.recipeIngredients.$error.required">Don't forget to write ingredients</div>
        </div> -->

        <label for="author">author</label>
        <input type="text" ng-model="author" name="recipeAuthor" ng-value="recipe.author" required="">
        <div ng-show="form.$submitted || form.recipeAuthor.$touched">
             <div ng-show="form.recipeAuthor.$error.required">How can I cook without author?</div>
        </div>

        <label for="instructions">Instructions</label>
        <input type="text" ng-model="instructions" name="recipeinstructions" ng-value="recipe.instructions" required="">
        <div ng-show="form.$submitted || form.recipeinstructions.$touched">
             <div ng-show="form.recipeinstructions.$error.required">How can I cook without instructions?</div>
        </div>
    
        <input type="button" ng-click="reset()" value="Reset">
        <input type="submit" value="Save">
    </form>
    
    <!-- <pre>recipe = {{recipe | json}} </pre>
    <pre>data = {{data | json}} </pre> -->
    
    <!-- <form ng-submit="addRecipe()">
        <input type="text" ng-model="title">        
        <input type="submit" value="Add a recipe">        
    </form> -->
</main>