<section id="{{recipe.$id}}" class="recipe-description editor">
    <form class="recipeForm" name="recipeForm" novalidate>
        <section class="container slider">
            <img ng-repeat="slide in recipe.slides" class="slide" ng-swipe-right="nextSlide()" ng-swipe-left="prevSlide()" ng-hide="!isCurrentSlideIndex($index)" ng-src="{{slide}}">

            <a class="arrow prev" href="" ng-click="nextSlide()"></a>
            <a class="arrow next" href="" ng-click="prevSlide()"></a>

             <nav class="nav">
                <div class="wrapper">
                    <ul class="dots">
                        <li class="dot" ng-repeat="slide in recipe.slides">
                            <a href="" ng-class="{'active':isCurrentSlideIndex($index)}" ng-click="setCurrentSlideIndex($index);">{{slide.description}}</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </section>



        <section>
            <div flow-init flow-files-submitted="$flow.upload()" flow-file-added="!!{png:1,gif:1,jpg:1,jpeg:1}[$file.getExtension()]" flow-file-success="$file.msg = $message" flow-name="recipe.slides.flow">

            <input type="file" flow-btn/>
            Input OR Other element as upload button
            <span class="btn" flow-btn>Upload File</span>
            *{{recipe.slides.flow.files.length}}*
            *{{recipe.slides.flow.files.image}}*
            <table>
            <tr ng-repeat="file in recipe.slides.flow.files track by $index">
            <td>{{$index+1}}</td>
            <td>{{file.name}}</td>
            <td>{{file.relativePath}}</td>
            </tr>
            </table>
            <div ng-repeat="image in recipe.slides.flow.files track by $index">
            <img class="preview" flow-img="image" />
            </div>
            </div>
        </section>

        <section class="headColumn">
            <h2>
                <input type="text" ng-model="recipe.title" name="recipeTitle" ng-value="recipe.title" required>-
                <input type="text" ng-model="recipe.lead" name="recipeLead" ng-value="recipe.lead" required>
            </h2>

            <h4>Categories: </h4>
            <ul class="keywords">
                <li ng-repeat="keyword in recipe.keywords track by $index">
                    <input type="text" ng-model="recipe.keywords[$index]" name="recipeKeyword" ng-value="keyword" placeholder="Add a keyword" required>
                    
                    <button class="remove-field" ng-show="$last" ng-click="removeKeyword()">-</button>
                </li>                
                <button class="add-field" ng-click="addKeyword()">+</button>
            </ul>
        </section>

        <section class="sideColumn">
            <h4>Ingredients: </h4>
            <ul class="ingredients">
                <li ng-repeat="ingredient in recipe.ingredients track by $index">
                    <input type="text" ng-model="recipe.ingredients[$index]" name="recipeIngredient" ng-value="ingredient" placeholder="Add an ingredient" required>
                    <button class="remove-field" ng-show="$last" ng-click="removeIngredient()">-</button>
                </li>
                
                <button class="add-field" ng-click="addIngredient()">+</button>
            </ul>
        </section>

        <section class="mainColumn">
            <div class="readytime">
                <h4>Time until ready</h4>
                <ul>
                    <li>
                        <span>Preperation Time: </span>
                        <input type="text" ng-model="recipe.preptime" name="recipePreptime" ng-value="recipe.preptime" placeholder="Add preperation Time" required>
                    </li>
                    <li>
                        <span>Cooking Time: </span>
                        <input type="text" ng-model="recipe.cookingtime" name="recipeCookingtime" ng-value="recipe.cookingtime" placeholder="Add cooking Time" required>
                    </li>
                </ul>
            </div>
            <div class="instructions">
                <h4>Instructions</h4>
                <!--TO DO: This input should work like textarea -->
                <input type="text" ng-model="recipe.instructions" name="recipeInstructions" ng-value="recipe.instructions" required>
            </div>
        </section>

        <button ng-click="recipeForm.$valid && addRecipe()" ng-hide="recipe.$id">Save the Recipe</button>
        <button ng-click="recipeForm.$valid && editRecipe()" ng-show="recipe.$id">Update the Recipe</button>
        <button ng-click="deleteRecipe()" ng-show="recipe.$id">Delete Recipe</button>
    </form>
</section>