<section class="auth">
	<h3>Create new password</h3>
	<div>
		<p>
			Please create a new password.
		</p>
		
		<form novalidate name="newPasswordForm">
			<h4>Email</h4>
			<input type="text" ng-model="email" name="email" aria-label="Enter email" required>
			<div ng-show="newPasswordForm.$submitted">
				<p class="validation-error" ng-show="newPasswordForm.email.$error.required">
				Please enter your email address.
				</p>
			</div>
			
			<h4>Temporary password</h4>
			<input type="password" ng-model="oldPassword" name="oldPassword" aria-label="Enter temporary password" required>
			<div ng-show="newPasswordForm.$submitted">
				<p class="validation-error" ng-show="newPasswordForm.oldPassword.$error.required">
				Please enter your temporary password.
				</p>
			</div>

			<h4>New password</h4>
			<input type="password" ng-model="newPassword" name="newPassword" aria-label="Enter new password" required>
			<div ng-show="newPasswordForm.$submitted">
				<p class="validation-error" ng-show="newPasswordForm.newPassword.$error.required">
				Please enter your new password.
				</p>
			</div>

			<button ng-click="newPasswordForm.$valid && changePassword()">Save password</button>

			<p ng-if="message">
				<strong>
					Message: {{message}} <a ng-href="#/auth">Try to login again.</a>
				</strong>
			</p>
			<p ng-if="error">
				<strong>Error: {{error}}</strong>
			</p>
		</form>
	</div>
 </section>