<section class="auth">
	<h3>Create new password</h3>
	<div>
		<p>
			Please create a new password.
		</p>
		
		<form novalidate name="newPasswordForm">
			<h4>Email</h4>
			<input type="text" ng-model="email" aria-label="Enter email" required>
			
			<h4>Temporary password</h4>
			<input type="password" ng-model="oldPassword" aria-label="Enter temporary password">

			<h4>New password</h4>
			<input type="password" ng-model="newPassword" aria-label="Enter new password">

			<button ng-click="newPasswordForm.$valid && changePassword()">Save password</button>

			<p ng-if="message">
				<strong>
					Message: {{message}} <a ng-href="#/auth">Try to login again.</a>
				</strong>
			</p>
			<p ng-if="error">
				<strong>Error: {{error}}</strong>
			</p>
		</form>
	</div>
 </section>