<section id="{{recipe.$id}}" class="recipe-description">
<meta content="http://lechef.noerdli.ch/#/recipe/{{recipe.$id}}" />
    
    <image-slider></image-slider>

    <section class="content">
        <section class="head-column">
            <h4>My search</h4>
            <ul class="search-keywords">
                <li ng-bind="search.$"></li>
            </ul>
            
            <h4>Keywords</h4>
            <ul class="keywords">
                <li ng-repeat="keyword in recipe.keywords">{{keyword}}. </li>
            </ul>
        </section>
    	
        <section class="side-column">

            <h4>Ingredients</h4>
            <ul class="ingredients">
    			<li class="ingredient" ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
    		</ul>

            <h4>Share this recipe</h4>
            <ul class="share-this-recipe">
                <li>
                    <a class="icon-pinterest-with-circle" href="#/recipe/{{recipe.$id}}" socialshare socialshare-provider="pinterest" socialshare-text="{{recipe.title}} - {{recipe.lead}}" socialshare-url="http://lechef.noerdli.ch/#/recipe/{{recipe.$id}}" socialshare-media="http://lechef.noerdli.ch{{recipe.slides[0]}}"></a>
                </li>
                <li>
                    <a class="icon-facebook-with-circle" href="/#/recipe/{{recipe.$id}}" socialshare socialshare-provider="facebook" socialshare-type="feed" socialshare-via="774079302702991" socialshare-display="popup" socialshare-media="http://lechef.noerdli.ch{{recipe.slides[0]}}" socialshare-description="{{recipe.instructions}}" socialshare-text="{{recipe.title}} - {{recipe.lead}}" socialshare-caption="Recipe created with much love on lechef.noerdli.ch" socialshare-url="http://lechef.noerdli.ch/#/recipe/{{recipe.$id}}" socialshare-redirect-uri="http://lechef.noerdli.ch"></a>
                </li>
                <li>
                    <a class="icon-twitter-with-circle" href="#/recipe/{{recipe.$id}}" socialshare socialshare-provider="twitter" socialshare-text="{{recipe.title}} - {{recipe.lead}}" socialshare-url="http://lechef.noerdli.ch/#/recipe/{{recipe.$id}}" socialshare-media="http://lechef.noerdli.ch{{recipe.slides[0]}}" socialshare-hashtags="lechef, foodlove, {{recipe.keywords[0]}}, {{recipe.keywords[1]}}, {{recipe.keywords[2]}}"></a>
                </li>
                <li>
                    <a class="icon-google-with-circle" href="#/recipe/{{recipe.$id}}" socialshare socialshare-provider="google+" socialshare-text="{{recipe.title}} - {{recipe.lead}}" socialshare-url="http://lechef.noerdli.ch/#/recipe/{{recipe.$id}}" socialshare-media="http://lechef.noerdli.ch{{recipe.slides[0]}}"></a>
                </li>
            </ul>
        </section>

        <section class="main-column">
            <div>
                <div class="header">
                    <h2>
                        {{recipe.title}}
                        <span> 
                            {{recipe.lead}}
                        </span>
                    </h2>
                    <span ng-click="goToEditor()" class="icon-pencil tooltips">
                        <span>Change the Recipe</span>
                    </span>
                </div>

                <h4>Time until ready</h4>
                <ul class="cooking-time">
                    <li class="timeline"></li>
                    <li>
                        <span class="time">{{recipe.preptime}}</span>
                        <span class="time-description">Prep</span>
                    </li>
                    <li class="timeline"></li>
                    <li>
                        <span class="time">{{recipe.cookingtime}}</span>
                        <span class="time-description">Cook</span>
                    </li>
                    <li class="timeline"></li>
                    <li>
                        <span class="time">{{recipe.totaltime}}</span>
                        <span class="time-description">Total</span>
                    </li>
                    <li class="timeline"></li>
                </ul>

                <div class="instructions">
                	<h4>Instructions</h4>
                	<p ng-bind-html="html"></p>
                    <p class="created-on">Recipe created with much love on {{recipe.createdOn | date}}</p>
                </div>
            </div>

            <div class="review-column">

                <!-- TODO: Should style with stars -->
                <h4>Rating average: {{calculateAverage(AverageData)}}</h4>

                <h4>Reviews</h4>
                <div class="reviews">
                    <p ng-show="recipe.reviews.length === 1">There is no comment yet. Write the first comment!</p>
                    <div class="review" ng-repeat="review in recipe.reviews track by $index"> 
                        <p class="rating" ng-model="recipe.review.stars[$index]">Stars:  {{review.stars}}</p>
                        <p class="message" ng-model="recipe.review.body[$index]">{{review.body}}</p>
                        <p class="author" ng-model="recipe.review.author[$index]">by: {{review.author}} <span>created on {{review.createdOn | date}}</span></p>
                    </div>
                </div>
                <div class="review-editor">
                    <h4>Write a Review</h4>
                    <form class="review-form" novalidate>
                        <div class="select-form">
                            <select ng-model="recipe.review.stars" required>
                                <option value="" disabled>Give stars</option> 
                                <option value="5">5 stars</option> 
                                <option value="4">4 stars</option> 
                                <option value="3">3 stars</option> 
                                <option value="2">2 stars</option> 
                                <option value="1">1 star</option> 
                            </select>
                            <span class="icon-chevron-down"></span>
                        </div>

                        <div>
                            <textarea ng-model="recipe.review.body" required placeholder="Write a review"></textarea>
                        </div>

                        <div>
                            <label>by:</label>
                            <input ng-model="recipe.review.author" placeholder="Name" required>
                        </div>
                        <button ng-click="addReview()">Send my review</button>
                    </form>
                </div> 
            </div>
        </section>
    </section>
</section>