<main ng-repeat="recipe in cookbook.recipes">

	<img ng-src="{{recipe.images}}">

	<p ng-bind="search"></p>

	<ul>
		<li class="keywords" ng-repeat="keyword in recipe.keywords">{{keyword}}</li>
	</ul>

	<h2>{{recipe.title}}</h2>
	<h3>{{recipe.lead}}</h3>

	<section>
		<ul>
			<li class="ingredients" ng-repeat="ingredient in recipe.ingredients">{{ingredient}}</li>
		</ul>

		<ul class="share">
            <li>
                <a class="icon-pinterest-with-circle" href="http://www.pinterest.com/norarusterholz" target="_blank"></a>
            </li>
            <li>
                <a class="icon-instagram-with-circle" href="https://instagram.com/mimi.k.k/" target="_blank"></a>
            </li>
            <li>
                <a class="icon-twitter-with-circle" href="https://twitter.com/norarusterholz" target="_blank"></a>
            </li>
            <li>
                <a class="icon-vimeo-with-circle" href="https://vimeo.com/greenkitchenstories" target="_blank"></a>
            </li>
        </ul>
    </section>

    <section>
    	<time ng-repeat="time in recipe.times">
    	<span>{{time.preptime}}</span>
    	<span>{{time.cooktime}}</span>
    	</time>
    	
    	<p>{{recipe.instructions}}</p>

    	<div>{{recipe.rating}} Stars</div>
    </section>

</main ng-repeat-end>