<section id="recipes-overview">
    <chasing-dots-spinner ng-show="loading"></chasing-dots-spinner>
    <ul class="recipes">
        <li ng-repeat="recipe in recipes | filter:search" id="{{recipe.$id}}" class="recipe" style="background-image: url({{recipe.slides[0]}})">
            <a ng-href="#/recipe/{{recipe.$id}}">
                <div class="caption overlay">
                    <h3>
                        {{recipe.title}}
                    </h3>
                    <p>
                        {{recipe.lead}}
                    </p>
                </div>
            </a>
        </li>
        <li class="recipe add-recipe" ng-hide="loading">
            <a ng-href="#/editor" aria-label="Create new recipe">
                +
            </a>
        </li>
    </ul>
</section>